body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

/* NAVBAR */

.navbar {
    background-color: transparent;
}

.viajes {
    color: #FFFFFF;
    font-weight: bold;
}

.nav-link {
    color: #ffffffa5;
    font-weight: 400;
}

/* CARRUSEL  */
.carousel-inner {
    margin-top: -90px;
}


/* QUIENES SOMOS */

.fondo-negro {
    background-color: black;
}
.card-iconos {
    display: flex;
    gap: 25px;
    justify-content: center;
    text-align: left;
    background-color: black;
    font-size: 13px;
}

.fondito {
    background-color:  #00d0ff;
    text-align: center;
}

.card-body {
    align-items: center;
    margin-top: -25px;
    margin-bottom: -25px;
}

.card-destacados {
    background-color:  #00d0ff;
}

.card img { 
    height: 12rem;
}


/* FOOTER*/

.fondito {
    background-color: #00d0ff;
}

.iconos a {
    color: #FFFFFF;
}

.iconos {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
