body * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

.navbar {
    background-color: blue;
}

.viajes {
    color: #FFFFFF;
    font-weight: bold;
}

.nav-link {
    color: #ffffffa5;
    font-weight: 400;
}
